html, body, #root {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  background-image: url('./assets/bg_50.png');
  background-size: cover;
  background-position: center;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

